*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    padding:20px;
}

.card{
    width:400px;
    overflow:hidden;
    border-radius:25px;
    background:#111827;
    box-shadow:0 15px 40px rgba(0,0,0,.4);
    animation:show .8s ease;
}

.slider{
    height:220px;
    position:relative;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:1s;
}

.slide.active{
    opacity:1;
}

.content{
    position:relative;
    padding:70px 25px 25px;
    text-align:center;
    color:white;
}

.profile{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #111827;
    position:absolute;
    top:-60px;
    left:50%;
    transform:translateX(-50%);
}

h1{
    margin-bottom:5px;
}

.role{
    color:#60a5fa;
    font-size:14px;
}

.desc{
    margin-top:15px;
    color:#cbd5e1;
    line-height:1.6;
    font-size:14px;
}

.social{
    margin-top:25px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.btn{
    width:100%;
    padding:14px 18px;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    text-decoration:none;
    color:#fff;
    font-size:15px;
    font-weight:500;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:14px;

    backdrop-filter:blur(10px);
    transition:all .3s ease;
}

.btn i{
    font-size:18px;
}

.btn:hover{
    background:rgba(255,255,255,0.1);
    border-color:rgba(255,255,255,0.2);
    transform:translateY(-3px);
}

.btn:active{
    transform:scale(.98);
}

.music-player{
    margin-top:25px;
    text-align:left;
}

.music-player h3{
    color:white;
    margin-bottom:12px;
    font-size:16px;
}

.song-list{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.song{
    display:flex;
    align-items:center;
    gap:12px;

    padding:10px;

    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);

    border-radius:14px;

    cursor:pointer;
    transition:.3s;
}

.song:hover{
    background:rgba(255,255,255,.1);
}

.song img{
    width:55px;
    height:55px;
    border-radius:10px;
    object-fit:cover;
}

.song-info{
    flex:1;
}

.song-info h4{
    color:white;
    font-size:14px;
}

.song-info span{
    color:#aaa;
    font-size:12px;
}

.song i{
    color:white;
    font-size:18px;
}

@keyframes show{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}